
html,body {height: 100%; background-color: #00040e; box-sizing:border-box; width:500px;margin: auto;}
img {
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}
.full-height {
    height: 100%;
    box-sizing:border-box;
}
