
html,body {height: 100%; background-color: #00040e;}
section{box-sizing:border-box;}
section ul li{list-style: none; float:left; width:50%; padding:8px;}
section ul li img{height:225px; width:158px;}
a:hover{text-decoration: none;}



.full-height {
    height: 100%;
    box-sizing:border-box;
    background-color: red;
}

@media (min-width: 768px) {
body a div{max-width: 768px; border-color: yellow;}
section ul li{list-style: none; float:left; width:33%;}
section ul li img{padding:35px;height:400px; width:285px;}
}
